@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Cambay:regular,italic,700,700italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Manrope", sans-serif;
  width: 100%;
  height: 100%;
  scrollbar-width: none;
}

.cambay {
  font-family: "Cambay", serif;
}

::selection {
  background-color: #3f889f;
  color: white;
}
.custom-scrollbar-hidden {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.custom-scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
